<div class="">
  <h3 class="text-primary">How to use this page</h3>

  <table class="table">
    <tr>
      <td>
        <button type="button" class="btn btn-default">New</button>
      </td>
      <td>
        <p>
          Click <button type="button" class="btn btn-default">New</button> to create a new page.
          This page will be added to your menu.
        </p>
        <p>
          By default, the page will appear at the bottom of the list on the left.
          However, when creating the page, you can assign it to another page.
          If you do this, the page will appear as a sub-item of the parent page.
          If you look at the list on the left, you will see the page as a sub-item
          of the parent page.
        </p>
        <p>
          When you create a page, you add a title to the page.
          You can choose to add content to this page.
          Or you can choose to make this a menu page and add other pages to this page.
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" class="btn btn-default">Save</button>
      </td>
      <td>
        <p>
          When you create a new page or edit a page, make sure that you <button type="button" class="btn btn-default">Save</button> before exiting
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-default">Publish</button>
      </td>
      <td>
        <p>
          When you save a page, the page is not sent to the Website.
          You will need to <button type="button" class="btn btn-default">Publish</button> to make the page live.
        </p>
        <p>
          The reason for this functionality, is that this way you can keep making changes
          and savings.
          But only when you are sure of your content you will push it live.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-default">Publish All</button>
      </td>
      <td>
        <p>
          You can <button type="button" class="btn btn-default">Publish All</button> pages.
        </p>
        <p class="text-danger">
          <strong>Be careful about using this because it will publish pages irrespecitve of anything.</strong>
        </p>
        <p>
          You might end up publishing pages that are half-done.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-default">Unpublish</button>
      </td>
      <td>
        <p>
          <button type="button" class="btn btn-default">Unpublish</button> a page if you want to remove the page
          from the web site.
        </p>
        <p class="text-success">
          <strong>Don't worry. If you unpublish a page, you can still go back and republish it later.</strong>
        </p>
      </td>
    </tr>
  </table>

</div>
